<html>
    <head>
        <title>Headless</title>
    </head>
    <body>
<h1>{{ article.title }}</h1>
<small>
Créé le {{ article.created_at }} par {{ article.author.name }} ; Tags :
{%- for tag in article.tags %}
{{ tag. name }}
{%- endfor %}
{% if not article.tags|length %}Ø{% endif %}
</small>

<p>{{ article.content }}</p>
    </body>
</html>
