<html>
    <head>
        <title>Headless</title>
    </head>
    <body>

{% if articles|length == 0 -%}
<p>No articles</p>
{%- endif -%}

<ul>
{%- for article in articles -%}
<li><a href="{{ url_for("article_detail", article_id=article.id) }}">{{ article.title }}</a></li>
{%- endfor %}
</ul>
    </body>
</html>
